

<div *ngIf="this.votingMeasure == undefined">
  <mat-spinner class="spinner" style="margin: 0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="this.votingMeasure != undefined">
  <mat-list class="list-container">
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile>
          <mat-list-item style="font-size:23px">Voting Information:</mat-list-item>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
  </mat-list>
  <div>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-hmyn"><span style="font-weight:bold">Efficiency Gap</span></th>
        <th class="tg-ukpc">{{this.votingMeasure.efficiencyGap}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-ukpc">Estimated Voting Results</td>
        <td class="tg-ukpc">{{this.votingMeasure.estimatedVotingResults}}</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td class="tg-ukpc">Mean-Median Difference</td>
        <td class="tg-ukpc">{{this.votingMeasure.meanMedianDifference}}</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td class="tg-ukpc">Lopsided T</td>
        <td class="tg-ukpc">{{this.votingMeasure.lopsidedT}}</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td class="tg-ukpc">Opportunity Districts</td>
        <td class="tg-ukpc">{{this.votingMeasure.opportunityDistrict}}</td>
      </tr>
    </tbody>
    
    </table></div>
</div>
