#map1 {
  height: 100%;
  width: 50%;
}

#map2 {
  height: 100%;
  width: 50%;
}

.wrap {
  height: 100%;
}
.maps {
  height: 40%;
  display: flex;
}
.dialog-content {
  height: 55%;
}

.spacer {
  flex: 1 1 auto;
}

.map-menu {
  z-index: 100;
  margin-left: 10px;
  margin-top: 53%;
  height: 40px;
}
button:hover {
  box-shadow: 0 3px 8px rgba(0,0,0,0.8);
}

mat-grid-tile div {
  width: 100%;
  text-align: left;
  padding-left: 5px;
}

.divs {
  margin-left: 10px;
  margin-top: 10px;
  font-size: medium;
  font-weight: 600;
}

.container-divs {
  margin-bottom: 15%;
}

.blue-box {
  display: inline-block;
  background-color: rgb(56, 56, 241);
  border-style: solid;
  border-color: rgb(56, 56, 241);
  height: 20px;
  width: 5px !important;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  border-radius: 10px;
}

.red-box {
  display: inline-block;
  background-color: rgb(255, 59, 59);
  border-style: solid;
  border-color: rgb(255, 59, 59);
  height: 20px;
  width: 5px !important;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
  border-radius: 10px;
}

.split-container {
  width: 90% !important;
}
