<div id="main-map"></div>

<div class="map-overlay-container">
  <button mat-raised-button [matMenuTriggerFor]="menu" class="return-button" *ngIf="this.controller.getSelectedState() != 'None'">
    Displaying : {{ this.controller.getCurrentMap() }}
  </button>
  <mat-menu #menu>

    <button
      mat-menu-item
      *ngFor="let plan of this.controller.getPlansData(); index as i"
      (click)="selectMap(plan.planName)"
    >
      {{ plan.planName }}
    </button>
    <button
      mat-menu-item
      (click)="selectMap('Counties')"
    >
      Counties
    </button>
    <button
      mat-menu-item
      (click)="selectMap('Precincts')"
    >
      Precincts
    </button>
  </mat-menu>
  <button mat-raised-button *ngIf="!onCenter" (click)="returnTo()" class="return-button">Return</button>
</div>
