<div id="main-map"></div>

<div class="map-overlay-container">
  <button mat-raised-button [matMenuTriggerFor]="menu" class="return-button" *ngIf="this.controller.getSelectedState() != 'None'">
    Displaying : {{ this.controller.getCurrentMap() }}
  </button>
  <mat-menu #menu>

    <button
      mat-menu-item
      *ngFor="let plan of this.controller.getPlansData(); index as i"
      (click)="selectMap(plan.planName)"
    >
      {{ plan.planName }}
    </button>
    <button
      mat-menu-item
      (click)="selectMap('Counties')"
    >
      Counties
    </button>
    <button
      mat-menu-item
      (click)="selectMap('Precincts')"
    >
      Precincts
    </button>
  </mat-menu>
  <button
  mat-raised-button
  (click)="this.mapService.isShowingAD(this.controller.getSelectedState(), this.controller.getCurrentMap()) == true
  ? this.mapService.removeFilter(this.controller.getSelectedState(), this.controller.getCurrentMap())
  : this.mapService.showAnomalousDistricts(this.controller.getSelectedState(), this.controller.getCurrentMap())"
  class="return-button"
  *ngIf="this.controller.getSelectedState() != 'None' && this.controller.getCurrentMap() != 'Counties' && this.controller.getCurrentMap() != 'Precincts'">
    {{ this.mapService.isShowingAD(this.controller.getSelectedState(), this.controller.getCurrentMap()) == true ? 'Disable' : 'Enable'}} Anomalous Districts
  </button>
  <button mat-raised-button *ngIf="!onCenter" (click)="returnTo()" class="return-button">Return</button>
</div>
