#main-map {
  height: 100%;
}

.map-overlay-container {
  position: absolute;
  border-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.return-button {
  margin-top: 20px;
  margin-left: 20px;
  background-color: white;
  opacity: 1;
}
