<mat-list class="list-container">
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile>
          <mat-list-item style="font-size:18px">Split Demographs for District:
              <!---<div class="status">: {{ nameOfPlan }}</div>--->
          </mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-card>

  </mat-card>
  <mat-divider></mat-divider>

  <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile>
          <mat-list-item style="font-size:18px">Racial Fairness:
              <!---<div class="status">: {{ nameOfPlan }}</div>--->
          </mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-card>

  </mat-card>
  <mat-divider></mat-divider>

</mat-list>
