.state-menu {
  width: 3rem !important;
  min-width: 3rem !important;
  margin-right: 4rem !important;
}

.title {
    width: 100%;
    margin-left: 3rem;
    font-size: larger;
}

.toolbar {
    height: 5rem;
}
