<mat-toolbar color="primary" class="toolbar">
    <div class="title">
      <span>CSE416 Project</span>
    </div>

    <div class="state-menu">
      <button mat-button [matMenuTriggerFor]="states" class="state-button">
        {{ selectedState == "none" ? default : selectedState }}
      </button>
      <mat-menu #states="matMenu">
        <button mat-menu-item class="state-buttons" (click)="changeState(noneSelected); closeSidenav()">None</button>
        <button mat-menu-item class="state-buttons" (click)="changeState(mississippi); openSidenav()">Mississippi</button>
        <button mat-menu-item class="state-buttons" (click)="changeState(georgia); openSidenav()">Georgia</button>
      </mat-menu>
    </div>
  </mat-toolbar>
