

<div *ngIf="this.populationMeasure == undefined">
  <mat-spinner class="spinner" style="margin: 0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="this.populationMeasure != undefined">
  <mat-list class="list-container">
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile>
          <mat-list-item style="font-size:23px">Population Information:</mat-list-item>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
  </mat-list>
  <div>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-hmyn"><span style="font-weight:bold">Equal Population Measure</span></th>
        <th class="tg-ukpc">{{this.populationMeasure.equalPopulation}}</th>
      </tr>
    </thead>
    </table></div>
</div>
