

<div *ngIf="this.populationMeasure == undefined">
  <mat-spinner class="spinner" style="margin: 0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="this.populationMeasure != undefined">
  <mat-list class="list-container">
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile>
          <mat-list-item style="font-size:20px">Population Information:</mat-list-item>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
    <mat-divider></mat-divider>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-list-item style="font-size:18px">Equal Population Measure: {{this.populationMeasure.equalPopulation}}</mat-list-item>
        </mat-panel-title>
        <mat-panel-description>Districts should have equal or close population difference</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="1500px">
        <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-list-item style="font-size:18px">District Populations:</mat-list-item>
            </mat-panel-title>
            <mat-panel-description>Total Population of each District</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="40px">
            <mat-card>
              District 1:
            </mat-card>
          </mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="40px">
            <mat-card>
              District 2:
            </mat-card>
          </mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="40px">
            <mat-card>
              District 3:
            </mat-card>
          </mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="40px">
            <mat-card>
              District 4:
            </mat-card>
          </mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
          <mat-divider></mat-divider>
        </mat-expansion-panel>
      </mat-grid-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </mat-list>
</div>
