<!-- <div> {{ selectedState }}</div> -->



<mat-list class="list-container">
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Name of Plan:
                <div class="status">{{ nameOfPlan }}</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
            <mat-list-item>Proposed by:
                <div class="status">{{ proposedBy }}</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Status:
                <div class="status">{{ statusString[status] }}</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>

            <mat-list-item *ngIf="status == 0">
                Date enacted:
                <mat-divider></mat-divider>
            </mat-list-item>

            <mat-list-item *ngIf="status != 0">
                Date proposed:
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-grid-list cols="3" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Number of Districts:
                <div class="status">{{ numOfDistricts }}</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-list-item>Total Population:
                <div class="status"> {{ totalPopulationString }}</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-list-item>Polsby-Popper Value:
                <div class="status"> {{ PolsbyPopperValue }}</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Republican Democratic Split:</mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-grid-list cols="4" rowHeight="2:1" *ngIf="selectedState == 'Mississippi'">

        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: blue;"></mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="14" rowHeight="2:1" *ngIf="selectedState == 'Georgia'">

        <mat-grid-tile style="background-color: blue;"></mat-grid-tile>
        <mat-grid-tile style="background-color: blue;"></mat-grid-tile>
        <mat-grid-tile style="background-color: blue;"></mat-grid-tile>
        <mat-grid-tile style="background-color: blue;"></mat-grid-tile>
        <mat-grid-tile style="background-color: gray;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>
        <mat-grid-tile style="background-color: red;"></mat-grid-tile>

      </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Summary for Each District:</mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-grid-list cols="4" rowHeight="40px">
        <mat-grid-tile>
            <button mat-stroked-button class="district-select-button" mat-button [matMenuTriggerFor]="districtMenu">
                {{ selectedDistrict == "none" ? "Select a district" : selectedDistrict }}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #districtMenu="matMenu">
                <button mat-menu-item *ngFor="let district of districtList" (click)="changeDistrict(district)">
                    {{ district }}
                </button>
            </mat-menu>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-grid-list cols="3" rowHeight = "60px">
        <mat-grid-tile>
            <mat-list-item>District Population:
                <div class="status">{{ districtPopulationString }}</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-list-item>Incumbent:
                <div class="status">{{ districtIncumbent }}</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-list-item>Partisan Lean:
                <div class="status">{{ districtPartisanLean }}</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Racial Profile of {{ selectedDistrict }}:</mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-grid-list cols="4" rowHeight = "60px">
        <mat-grid-tile>
            <mat-list-item>White:
                <div class="status">{{ districtWhite }}%</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-list-item>Black:
                <div class="status">{{ districtBlack }}%</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-list-item>Hispanic:
                <div class="status">{{ districtHispanic }}%</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-list-item>Asian:
                <div class="status">{{ districtAsian }}%</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="3" rowHeight = "60px">
        <mat-grid-tile>
            <mat-list-item>Native American:
                <div class="status">{{ districtIndian }}%</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-list-item>Native Hawaiian and Pacific Islander:
                <div class="status">{{ districtNativeHawaiian }}%</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-list-item>Other:
                <div class="status">{{ districtOther }}%</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <button mat-raised-button class="temp" (click)="toggleStatus()">Toggle status</button>
</mat-list>
