<!-- <div> {{ selectedState }}</div> -->



<mat-list class="list-container">
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Name of Plan: </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
            <mat-list-item>Proposed by: </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Status:
                <div class="status">{{ statusString[status] }}</div>
            </mat-list-item>
            <mat-divider vertical style="height: 40px;"></mat-divider>
            
            <mat-list-item *ngIf="status == 0">
                Date enacted: 
                <mat-divider></mat-divider>
            </mat-list-item>
            
            <mat-list-item *ngIf="status != 0">
                Date proposed:
                <mat-divider></mat-divider>
            </mat-list-item>

        </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    

    <button mat-raised-button (click)="toggleStatus()">Toggle status</button>
</mat-list>