

<div *ngIf="this.geographicsMeasure == undefined">
  <mat-spinner class="spinner" style="margin: 0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="this.geographicsMeasure != undefined">
  <div>
    <mat-list class="list-container">
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-list-item style="font-size:23px">Geographic Information:</mat-list-item>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
    </mat-list>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-hmyn"><span style="font-weight:bold">Compactness Measure</span></th>
        <th class="tg-ukpc">{{this.geographicsMeasure.cm}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-ukpc">Split Counties</td>
        <td class="tg-ukpc">{{this.geographicsMeasure.splitCounties}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
