<!-- <p>state-summary works!</p> -->
<div *ngIf="!this.controller.isReady()">
  <mat-spinner class="spinner"></mat-spinner>
</div>


<div *ngIf="this.controller.isReady()">
  <button mat-raised-button (click)="backToSummary()" class="back-button">Back to Summary</button>
  <br>
  <!-- num of districts, summary of each district in the districting (population, population by demographic group, rep/dem split,
    election from which voting preference is used, num of majroity-minority districts, efficiency gap)
    compactness measures for every district (highlight any anomalous districts)
    Seat share / vote share plot (curve) = values for symmetry, bias at 50%, responsiveness

    split counties

    map side: hover, or click -> district number, estimated vote split, compactness etc


  -->
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Plan Information
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile>
          <div>
            Plan Name :
          </div>
          <mat-divider vertical style="height: 45px"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            Plan Status :
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>

      <mat-grid-list cols="3" rowHeight="40px">
        <mat-grid-tile [colspan]="2">
          <div>
            Proposed By :
          </div>
          <mat-divider vertical style="height: 45px"></mat-divider>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <div>
            # of Districts :
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>

      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <div>
            # of Majority-Minority Districts :
          </div>
        </mat-grid-tile>
      </mat-grid-list>         
      <mat-divider></mat-divider>
      <!-- <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <div>
            Control of Senate :
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <div>
            Control of House of Representative :
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider> -->
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Summary of Each Districts
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>


    <!-- <div *ngFor="let district of this.controller.getDistricts">
      <mat-expansion-panel></mat-expansion-panel>
    </div> -->
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Seat Share / Vote Share Plot
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
     
      <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
    
    </mat-card-content>
    <mat-divider></mat-divider>
  </mat-card>

  <br>
  <br>

</div>
