<div *ngIf="!this.controller.isReady()">
  <mat-spinner class="spinner"></mat-spinner>
</div>


<div *ngIf="this.controller.isReady()">
  <button mat-raised-button (click)="backToSummary()" class="back-button">Back to Summary</button>
  <br>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Plan Information
      </mat-card-title>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>

    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile>
          <div>
            Plan Name : {{ this.controller.getSelectedPlan() }}
          </div>
          <mat-divider vertical style="height: 45px"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            Plan Status : {{ this.controller.getCurrentPlanData().planStatus }}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>

      <mat-grid-list cols="3" rowHeight="40px">
        <mat-grid-tile [colspan]="2">
          <div>
            Proposed By : {{ this.controller.getCurrentPlanData().proposedBy }}
          </div>
          <mat-divider vertical style="height: 45px"></mat-divider>
        </mat-grid-tile>

        <mat-grid-tile>
          <div>
            # of Districts : {{ this.controller.getCurrentPlanData().districts.length }}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>

      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <div *ngIf="this.controller.getCurrentPlanData().planStatus == 'Approved'">
            Date Approved : {{ this.controller.getCurrentPlanData().planDate }}
          </div>
          <div *ngIf="this.controller.getCurrentPlanData().planStatus == 'Rejected'">
            Date Rejected : {{ this.controller.getCurrentPlanData().planDate }}
          </div>
          <div *ngIf="this.controller.getCurrentPlanData().planStatus == 'Proposed'">
            Date Proposed : {{ this.controller.getCurrentPlanData().planDate }}
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-divider></mat-divider>

      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <div>
            # of Majority-Minority Districts : {{ this.controller.getCurrentPlanData().numOfMajorityMinorityDistricts }}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="district-title">
        Summary of Each Districts
      </mat-card-title>
      <div class="spacer"></div>
      <div class="district-select-div">Currently Showing : </div>
      <button mat-raised-button [matMenuTriggerFor]="menu" yPosition="below" class="district-select">
        District {{ this.controller.getSelectedDistrict() }}
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let district of this.controller.getCurrentPlanData().districts"
          (click)="this.controller.changeDistrict(district.districtNum)">
          District {{ district.districtNum }}
        </button>
      </mat-menu>

    </mat-card-header>
    <mat-divider class="divider"></mat-divider>

    <mat-card-content>

      <mat-card class="card">
        <mat-card-header>
          <div class="sub-title" style="font-weight: 550; font-size: large; text-align: left;">
            District Information
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-grid-list cols="1" rowHeight="40px">
            <mat-grid-tile>
              <div>
                Incumbent : {{ this.controller.getCurrentDistrictData().incumbent }}
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-divider></mat-divider>


          <mat-divider></mat-divider>


        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          Hello
        </mat-card-header>
      </mat-card>




    </mat-card-content>
  </mat-card>

  <!-- <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Seat Share / Vote Share Plot
      </mat-card-title>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>

    <mat-card-content>

      <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel">
</ngx-charts-bar-vertical>

    </mat-card-content>
  </mat-card> -->

  <br>
  <br>

</div>
