.spinner {
  display: block;
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 50%;
  left: 67%;
}

.back-button {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.back-button:hover{
  box-shadow: 0 3px 8px rgba(0,0,0,0.8);
}


.card {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  border: 1px solid rgb(219, 214, 214);
}

mat-grid-tile div {
  width: 100%;
  text-align: left;
  padding-left: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.district-select-div {
  margin-top: 5px;
  margin-right: 5px;
}

.district-select {
  font-size: small;
  margin-bottom: 10px;
  align-items: center;
  display: inline-flex;

}

.district-title {
  margin-top: 10px;
}
/*
.divider {
  border-top-color: black;
} */

.sub-title {
  font-size: large;
  font-weight: 550;
  margin-bottom: 5px;
}

.second-div {
  margin-top: 5px;
}

.blue-box {
  background-color: rgb(56, 56, 241);
  border-style: solid;
  border-color: rgb(56, 56, 241);
  height: 80px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
}

.red-box {
  background-color: rgb(255, 59, 59);
  border-style: solid;
  border-color: rgb(255, 59, 59);
  height: 80px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
}



.chart-div {
  height: 430px;
  margin-top: 20px;
}
