<mat-tab-group mat-align-tabs="start">
    <mat-tab class="tab-group" label="Overview">
      <!-- Some other component for content -->
      <app-overview [selectedState]=selectedState></app-overview>
      


    </mat-tab>

    <mat-tab class="tab-group" label="Graphs">Graphs
      <!-- Some other component for content -->
      <app-graphs [selectedState]=selectedState></app-graphs>
    </mat-tab>

    <mat-tab class="tab-group" label="Whatever">Whatever
      <!-- Some other component for content -->
    </mat-tab>

    <mat-tab class="tab-group" label="Whatever">Whatever
      <!-- Some other component for content -->
    </mat-tab>
</mat-tab-group>
