<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale-pulse-out-rapid" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->

<mat-drawer-container class="container" autosize>
  <mat-drawer class="drawer" #drawer mode="side" opened>

    <button mat-raised-button class="compare-button" (click)="openDialog()">Compare</button>
    <mat-divider></mat-divider>

    <!-- List compoment  -->
    <app-side-list [selectedState]="selectedState" [selectedId]="selectedId" [changeId]="changeId" [options]="options"></app-side-list>

  </mat-drawer>

  <mat-drawer-content class="content">
    <div style="height: 3rem;">
      <!-- <button mat-button class="toggle-button" (click)="drawer.toggle()"> {{ drawer.opened ? "Collapse" : "Expand"}}

      </button> -->

      <div *ngIf="selectedId == 0">
        <!-- render general info -->
        <!-- Some component that can direct the users to choose OR show dominant party by default -->
      </div>
      <div *ngIf="selectedId != 0">
        <app-plans-content [selectedState]="selectedState" [selectedId]="selectedId"></app-plans-content>
      </div>
    </div>

    <!-- another tab component -->
  </mat-drawer-content>
</mat-drawer-container>
