.container {
  height: 800px;
}

.drawer {
  width: 15%;
}

.content {
  width: 85%;
  border-color: black;
}

.compare-button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 12.5%;
  background-color: cadetblue;
}

