
<mat-drawer-container class="container" autosize>
  <mat-drawer class="drawer" #drawer mode="side" opened>

    <button mat-raised-button class="compare-button">Compare</button>
    <mat-divider></mat-divider>

    <!-- List compoment  -->
    <app-side-list [selectedState]="selectedState" [selectedId]="selectedId" [changeId]="changeId"></app-side-list>

  </mat-drawer>
  <mat-drawer-content class="content">
    <button mat-button (click)="drawer.toggle()">
      <mat-icon *ngIf="drawer.opened">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="!drawer.opened">keyboard_arrow_right</mat-icon>
    </button>


    <app-plans-content [selectedState]="selectedState" [selectedId]="selectedId"></app-plans-content>
    <!-- another tab component -->
  </mat-drawer-content>
</mat-drawer-container>

