<!-- <p>overview for {{ selectedState }}</p> -->
<mat-list class="list-container">
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="40px">
      <mat-grid-tile>
          <mat-list-item>Name of Plan:
              <div class="status"> hello </div>
          </mat-list-item>
          <mat-divider vertical style="height: 40px;"></mat-divider>
          <mat-list-item>Proposed by:
              <div class="status"> hello </div>
          </mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>
</mat-list>
