<mat-list class="list-container">
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-list-item style="font-size:23px">State Name
                <div class="status">: {{ selectedState }}</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Political Party in Control
                <div class="status">: {{ stateParty }}</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Total Population
                <div class="status">: {{ statePopulationString }}</div>
            </mat-list-item>

            <mat-divider vertical style="height: 40px;"></mat-divider>

            <mat-list-item>Change in Population(2010-2020)
                <div class="status">: {{ changeInPopulationString }}</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Number of Allocated Congressional Districts
                <div class="status">: {{ numOfDistricts }}</div>
            </mat-list-item>

            <mat-divider vertical style="height: 40px;"></mat-divider>

            <mat-list-item>Change in Allocated Districts(2010-2020)
                <div class="status">: {{ changeInNumOfDistricts }}</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="20px">
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile>
            <mat-list-item style="font-size:18px">
                <div class="status">{{ selectedState }} Population Demographic:</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item> State Diversity Index Score
                <div class="status">: {{ stateDiversityIndex }}%</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>White
                <div class="status">: {{ stateWhite }}%</div>
            </mat-list-item>

            <mat-divider vertical style="height: 40px;"></mat-divider>

            <mat-list-item>Percent Change in White population
                <div class="status">: {{ stateWhiteChange }}%</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Black
                <div class="status">: {{ stateBlack }}%</div>
            </mat-list-item>

            <mat-divider vertical style="height: 40px;"></mat-divider>

            <mat-list-item>Percent Change in Black population
                <div class="status">: {{ stateBlackChange }}%</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Asian
                <div class="status">: {{ stateAsian }}%</div>
            </mat-list-item>

            <mat-divider vertical style="height: 40px;"></mat-divider>

            <mat-list-item>Percent Change in Asian population
                <div class="status">: {{ stateAsianChange }}%</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Native Hawaiian and Other Pacific Islander(NHOPI)
                <div class="status">: {{ stateNHOPI }}%</div>
            </mat-list-item>

            <mat-divider vertical style="height: 40px;"></mat-divider>

            <mat-list-item>Percent Change in NHOPI population
                <div class="status">: {{ stateNHOPIChange }}%</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>American Indian and Alaska Native(AIAAN)
                <div class="status">: {{ stateAIAN }}%</div>
            </mat-list-item>

            <mat-divider vertical style="height: 40px;"></mat-divider>

            <mat-list-item>Percent Change in AIAAN population
                <div class="status">: {{ stateAIANChange }}%</div>
            </mat-list-item>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>

</mat-list>
