<mat-toolbar color="primary" class="toolbar">
  <div class="title-container">
    <button mat-button (click)="reset()">
      <div class="title">
        <span>CSE416 Project Dreams</span>
      </div>
    </button>
  </div>

  <form class="state-input" (keyup.enter)="setState()" (keyup.esc)="clearInput();">
    <mat-form-field class="form-field">
      <mat-label>Select a state</mat-label>
      <input
        type="text"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <button
        matSuffix
        type="button"
        mat-icon-button
        aria-label="Clear"
        *ngIf="myControl.value"
        (click)="clearInput()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option == "None" ? "None (clear)" : option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <button mat-button class="select-button" (click)="setState()">Select</button>
</mat-toolbar>
