<div *ngIf="!this.controller.isReady()">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<div *ngIf="this.controller.isReady()">

  <div *ngIf="this.controller.getShowSeawulfEnsemble()">
    <app-seawulf-ensemble-summary></app-seawulf-ensemble-summary>
  </div>

  <div *ngIf=" !this.controller.getShowSeawulfEnsemble()">
    <button
      mat-raised-button
      class="display-button"
      (click)="this.controller.toggleSeawulfEnsemble()"
    >
      Display Seawulf Ensemble Summary
    </button>
    <br/>

    <div class="plans-div">Plans :</div>

    <div *ngFor="let planName of this.controller.getPlanList(); index as i">
      <div *ngIf="planName != 'Summary'">
        <mat-card class="district-plan-card" (click)="changeToPlan(i)">
          <mat-card-header>
            <mat-card-title> Plan Name : {{ planName }} </mat-card-title>
          </mat-card-header>
          <mat-divider class="divider"></mat-divider>

          <mat-card-content>
            <mat-grid-list cols="2" rowHeight="40px">
              <mat-grid-tile>
                <div>Plan Status : {{ this.controller.getPlanData(i).planStatus }}</div>
                <mat-divider vertical style="height: 45px"></mat-divider>
              </mat-grid-tile>
              <mat-grid-tile>
                <div>Proposed By : {{ this.controller.getPlanData(i).proposedBy }}</div>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>

            <mat-grid-list cols="1" rowHeight="40px">
              <mat-grid-tile>
                <div *ngIf="this.controller.getPlanData(i).planStatus == 'Approved'">
                  Date Approved : {{ this.controller.getPlanData(i).date }}
                </div>
                <div *ngIf="this.controller.getPlanData(i).planStatus == 'Rejected'">
                  Date Rejected : {{ this.controller.getPlanData(i).date }}
                </div>
                <div *ngIf="this.controller.getPlanData(i).planStatus == 'Proposed'">
                  Date Proposed : {{ this.controller.getPlanData(i).date }}
                </div>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-divider></mat-divider>

            <mat-grid-list cols="1" rowHeight="40px">
              <mat-grid-tile>
                <div>Average Polsby-Popper Value : {{ this.controller.getPlanData(i).avgPolsbyPopperValue.toFixed(4) }}</div>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-divider></mat-divider>

            <mat-grid-list cols="1" rowHeight="40px">
              <mat-grid-tile>
                <div>Total # of Majority-Minority districts : {{this.controller.getPlanData(i).numOfMajorityMinorityDistricts }}</div>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-divider></mat-divider>

            <mat-grid-list cols="1" rowHeight="40px">
              <mat-grid-tile>
                <div>Equal Population Measure : {{ this.controller.getPlanData(i).eqPopMeasure.toFixed(4) }}</div>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-divider></mat-divider>

            <mat-grid-list cols="1" rowHeight="60px">
              <mat-grid-tile>
                <div>Republican / Democratic Split :</div>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-divider></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<br />
<br />
