

<div *ngIf="this.demographicsMeasure == undefined">
  <mat-spinner class="spinner" style="margin: 0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="this.demographicsMeasure != undefined">
  <mat-list class="list-container">
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile>
          <mat-list-item style="font-size:20px">Demographic Information:</mat-list-item>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
    <mat-divider></mat-divider>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-list-item style="font-size:18px">District Demographics:</mat-list-item>
        </mat-panel-title>
        <mat-panel-description>Average Demographics in Districts: </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>White Percentage:
              {{this.demographicsMeasure.splitDemographics[0]}}
            </mat-list-item>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Black Percentage:
              {{this.demographicsMeasure.splitDemographics[1]}}
            </mat-list-item>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Asian Percentage:
              {{this.demographicsMeasure.splitDemographics[2]}}
            </mat-list-item>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Other Percentage:
              {{this.demographicsMeasure.splitDemographics[3]}}
            </mat-list-item>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
    <mat-grid-list cols="1" rowHeight="10px"></mat-grid-list>
    <mat-divider></mat-divider>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-list-item style="font-size:18px">Majority Minority Districts:</mat-list-item>
        </mat-panel-title>
        <mat-panel-description>District in which a racial minority group or groups comprise a majority</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
            <mat-list-item>Number of Majority Minority Districts: 
              {{this.demographicsMeasure.racialFairness}}
            </mat-list-item>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </mat-list>
</div>
