

<div *ngIf="this.demographicsMeasure == undefined">
  <mat-spinner class="spinner" style="margin: 0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="this.demographicsMeasure != undefined">
  <div>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-hmyn"><span style="font-weight:bold">Split Demographics</span></th>
        <th class="tg-ukpc">{{this.demographicsMeasure.splitDemographics}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-ukpc">Racial Fairness</td>
        <td class="tg-ukpc">{{this.demographicsMeasure.racialFairness}}</td>
      </tr>
    </tbody>
    </table></div>
  <!-- LIKE THISSSSS -->
</div>
