<mat-toolbar class="header">
  <h2>State: {{ this.controller.getSelectedState() }}</h2>
  <p class="p"></p>
  <h2 *ngIf="this.controller.getSelectedPlanIndex() != 0">
    Plan: {{ this.controller.getSelectedPlan() }}
  </h2>

  <span class="spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-button">
    {{ controller.getSelectedPlanIndex() == 0 ? "Choose a plan" : controller.getSelectedPlan() }}
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let item of this.controller.getPlanList(); index as i"
      (click)="changeSelectedPlan(i)"
    >
      {{ item }}
    </button>
  </mat-menu>
  <button mat-raised-button class="compare-button" (click)="openDialog()">
    Compare Plans
  </button>
</mat-toolbar>

<mat-tab-group mat-align-tabs="start" [selectedIndex]="0" #tabs (selectedTabChange)="tabClick($event)">
  <div *ngIf="controller.getSelectedPlanIndex() == 0">
    <mat-tab label="Summary of all plans">
      <app-state-summary></app-state-summary>
    </mat-tab>
  </div>
  <div *ngIf="controller.getSelectedPlanIndex() != 0">
    <mat-tab label="Summary of the plan">
      <p>{{ this.controller.getSelectedState() }}</p>
      <br />
      <p>{{ this.controller.getSelectedPlan() }}</p>
      <app-plan-summary></app-plan-summary>
    </mat-tab>
    <mat-tab label="Compactness">
      <app-compactness></app-compactness>
    </mat-tab>
    <mat-tab label="Demographics">
      <app-demographics></app-demographics>
    </mat-tab>
    <mat-tab label="Geographics">
      <app-geographics></app-geographics>
    </mat-tab>
    <mat-tab label="Population Measure">
      <app-population-measure></app-population-measure>
    </mat-tab>
    <mat-tab label="Voting Measure">
      <app-voting-measure></app-voting-measure>
    </mat-tab>
  </div>
</mat-tab-group>
