<mat-toolbar class="header">
  <h2>State: {{ this.controller.getSelectedState() }}</h2>
  <p class="p"></p>
  <h2 *ngIf="this.controller.getSelectedPlan() != 0">Plan: {{ this.controller.getSelectedPlanName() }}</h2>

  <span class="spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-button">
    {{ controller.getSelectedPlanName() }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeSelectedPlan(0)">
      Default
    </button>
    <button mat-menu-item *ngFor="let item of this.controller.getPlanList(); index as i" (click)="changeSelectedPlan(i+1)">
      {{ item }}
    </button>
  </mat-menu>
  <button mat-raised-button class="compare-button" (click)="openDialog()">Compare Plans</button>
</mat-toolbar>

<mat-tab-group *ngIf="controller.getSelectedPlan() == 0" mat-align-tabs="start" [selectedIndex]="0" #tabs>
  <mat-tab label="Summary of all plans">

  </mat-tab>
</mat-tab-group>


<mat-tab-group *ngIf="controller.getSelectedPlan() != 0" mat-align-tabs="start" [selectedIndex]="0" #tabs>
  <mat-tab label="Summary of the current plan">
    <!-- Summay of the current selected plan -->
    <p>{{ this.controller.getSelectedState() }}</p>
    <br>
    <p>{{ this.controller.getSelectedPlan() }}</p>
  </mat-tab>
  <mat-tab label="Measure1">
    <!-- Measure detail 1 -->
  </mat-tab>
  <mat-tab label="Measure2">
    <!-- Measure detail 2 -->
  </mat-tab>
  <mat-tab label="Measure3">
    <!-- Measure detail 3 -->
  </mat-tab>
</mat-tab-group>
