<mat-toolbar class="header">
  <h2>State: {{ this.controller.getSelectedState() }}</h2>
  <p class="p"></p>
  <h2 *ngIf="this.controller.getSelectedPlanIndex() != 0">
    Plan: {{ this.controller.getSelectedPlan() }}
  </h2>

  <span class="spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-button">
    {{ controller.getSelectedPlanIndex() == 0 ? "Choose a plan" : controller.getSelectedPlan() }}
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let item of this.controller.getPlanList(); index as i"
      (click)="changeSelectedPlan(i)"
    >
      {{ item }}
    </button>
  </mat-menu>
  <button mat-raised-button class="compare-button" (click)="openDialog()">
    Compare Plans
  </button>
</mat-toolbar>

<!-- We have two options
1. have (selectedTabChange) = "tabClickFunction($event)"
   in here to call fetch functions to update the variables in the dataController


  Haven't decided yet
-->
<mat-tab-group mat-align-tabs="start" [selectedIndex]="0" #tabs (selectedTabChange)="tabClick($event)">
  <div *ngIf="controller.getSelectedPlanIndex() == 0">
    <mat-tab label="Summary of all plans"> </mat-tab>
  </div>
  <div *ngIf="controller.getSelectedPlanIndex() != 0">
    <mat-tab label="Summary of the current plan">
      <!-- Summay of the current selected plan -->
      <p>{{ this.controller.getSelectedState() }}</p>
      <br />
      <p>{{ this.controller.getSelectedPlan() }}</p>
    </mat-tab>
    <mat-tab label="Compactness">
      <!-- Measure detail 1 -->
    </mat-tab>
    <mat-tab label="Demographics">
      <!-- Measure detail 2 -->
    </mat-tab>
    <mat-tab label="Geographics">
      <!-- Measure detail 3 -->
    </mat-tab>
    <mat-tab label="Population Measure">
      <!-- Measure detail 3 -->
    </mat-tab>
    <mat-tab label="Voting Measure">
      <!-- Measure detail 3 -->
    </mat-tab>
  </div>
</mat-tab-group>
