<!-- <mat-list class="list-container">
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile>
          <mat-list-item style="font-size:23px">Name of Plan
              <div class="status">: {{ nameOfPlan }}</div>
          </mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>

  <mat-grid-list cols="1" rowHeight="40px">
      <mat-grid-tile>
          <mat-list-item>Proposed by
              <div class="status">: {{ proposedBy }}</div>
          </mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>

  <mat-grid-list cols="1" rowHeight="40px">
      <mat-grid-tile>
          <mat-list-item>Status
              <div class="status">: {{ statusString[status] }}</div>
          </mat-list-item>
          <mat-divider vertical style="height: 40px;"></mat-divider>

          <mat-list-item *ngIf="status == 0">Date Enacted
              <div class="status">: {{ date }}</div>
              <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item *ngIf="status == 2">Date Proposed
              <div class="status">: {{ date }}</div>
              <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item *ngIf="status == 3">Date Created
              <div class="status">: {{ date }}</div>
              <mat-divider></mat-divider>
          </mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>

  <mat-grid-list cols="1" rowHeight="20px"></mat-grid-list>
  <mat-divider></mat-divider>

  <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile>
          <mat-list-item style="font-size:18px">Republican Democratic District Split:</mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>

  <mat-grid-list cols="4" rowHeight="2:1" *ngIf="selectedState == 'Mississippi'">
      <mat-grid-tile style="background-color: rgba(0, 0, 255, .5);">
          <mat-list-item style="color: white;">D-2</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-1</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-3</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-4</mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="14" rowHeight="2:1" *ngIf="selectedState == 'Georgia'">
      <mat-grid-tile style="background-color: rgba(0, 0, 255, .5);">
          <mat-list-item style="color: white;">D-13</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(0, 0, 255, .5);">
          <mat-list-item style="color: white;">D-7</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(0, 0, 255, .5);">
          <mat-list-item style="color: white;">D-5</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(0, 0, 255, .5);">
          <mat-list-item style="color: white;">D-4</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(128, 128, 128, .5);">
          <mat-list-item style="color: white;">D-2</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-1</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-3</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-6</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-8</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-9</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-10</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-11</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-12</mat-list-item>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: rgba(255, 0, 0, .5);">
          <mat-list-item style="color: white;">D-14</mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile>
          <mat-list-item style="font-size:larger; height: 100%;">
              <div class="status">: {{ summary }}</div>
          </mat-list-item>
      </mat-grid-tile>
  </mat-grid-list>
</mat-list> -->
