

<div *ngIf="this.compactnessMeasure == undefined">
  <mat-spinner class="spinner" style="margin: 0 auto;" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="this.compactnessMeasure != undefined">
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-hmyn"><span style="font-weight:bold">Polsby Popper value</span></th>
        <th class="tg-ukpc">{{this.compactnessMeasure.polsbyPopperValue}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-ukpc">Schwartzberg value</td>
        <td class="tg-ukpc">{{this.compactnessMeasure.schwartzValue}}</td>
      </tr>
    </tbody>
    </table>
</div>
