<mat-nav-list>
    <a mat-list-item>
      <span mat-line>Option 1</span>
      <span mat-line>option 1</span>
    </a>
  
    <a mat-list-item>
      <span mat-line>Option 2</span>
      <span mat-line>option 2</span>
    </a>
  
    <a mat-list-item >
      <span mat-line>Option 3</span>
      <span mat-line>option 3</span>
    </a>
  
    <!-- <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)"> -->
    <a mat-list-item>
      <span mat-line>Option 4</span>
      <span mat-line>option 4</span>
    </a>
  </mat-nav-list>