<div id="map"></div>


<!-- 
<mat-button-toggle-group class="map-overlay-container" #group="matButtonToggleGroup" *ngIf="selectedState != 'none' && selectedState != 'Select a state'" (change)="changeMap_Plans(group.value)">
    <mat-button-toggle class="republican-button" selected value=0>Republican</mat-button-toggle>
    <mat-button-toggle class="democratic-button" value=1>Democratic</mat-button-toggle>
    <mat-button-toggle class="other-button" value=2>Other</mat-button-toggle>

    <button mat-raised-button class="return-button" *ngIf="!onCenter" (click)="returnTo()">Return</button>
</mat-button-toggle-group> -->


<div class="map-overlay-container" *ngIf="selectedState != 'none' && selectedState != 'Select a state'">
    <button mat-raised-button [ngClass]="current_id == 0 ? 'republican-button selected': 'republican-button'" (click)="changeMap_Plans(0)">Republican</button>
    <button mat-raised-button [ngClass]="current_id == 1 ? 'democratic-button selected': 'democratic-button'" (click)="changeMap_Plans(1)">Democrat</button>
    <button mat-raised-button [ngClass]="current_id == 2 ? 'other-button selected': 'other-button'" (click)="changeMap_Plans(2)">County</button>

    <button mat-raised-button class="return-button" *ngIf="!onCenter" (click)="returnTo()">Return</button>
</div>



