<mat-drawer-container class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="title">
      <span>CSE416 Project</span>
    </div>
  </mat-toolbar>
  <mat-drawer class="sidebar-container" #drawer mode="side">
    <div class="option-container">
      <button class="option-buttons" mat-raised-button (click)="openDialog()">Open Dialogue</button>
    </div>
    
    <div class="option-container">
      <button class="option-buttons" mat-raised-button (click)="openBottomSheet()">Bottom Sheet</button>
    </div>

    <div class="close-container">
      <button class="close-button" color="warn" mat-raised-button (click)="drawer.toggle()">close</button>
    </div>
  </mat-drawer>
    
  <app-main class="main"></app-main>



</mat-drawer-container>


