
<mat-toolbar class="header">
  <h2>State: {{ this.controller.getSelectedState() }}</h2>
  <p class="p"></p>
  <h2 *ngIf="this.controller.getSelectedPlan() != 'Summary'">
    Plan: {{ this.controller.getSelectedPlan() }}
  </h2>

  <span class="spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-button" style="overflow: hidden">
    {{ controller.getSelectedPlan() == "Summary" ? "Choose a plan"
    : (controller.getSelectedPlan().length > 16
    ? this.controller.getSelectedPlan().slice(0, 16)+'...' : controller.getSelectedPlan() ) }}
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="changeSelectedPlan(0)">
      Summary
    </button>
    <button
      mat-menu-item
      *ngFor="let plan of this.controller.getPlansData(); index as i"
      (click)="changeSelectedPlan(i+1)"
    >
      {{ plan.planName }}
    </button>
  </mat-menu>
  <button mat-raised-button class="compare-button" (click)="openDialog()">
    Compare Plans
  </button>

</mat-toolbar>
<mat-divider class="divider"></mat-divider>
<div *ngIf="this.controller.getSelectedPlan() != 'Summary'" class="container-content">
    <app-district-plan-content></app-district-plan-content>
</div>

<div *ngIf="this.controller.getSelectedPlan() == 'Summary'" class="container-content">
  <app-state-summary></app-state-summary>
</div>
